/*
Color Palate
121212
181818
404040
282828
FFFFFF
B3B3B3
*/

/*Btw I'm way too lazy to make optimized sooooo yea have fun reading this lol*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    -webkit-app-region: drag;
    overflow: hidden;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}
:root {
    --scale-factor: 1;
}
#content {
    transform: scale(var(--scale-factor), var(--scale-factor));
}
#dragarea {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    position: absolute;
    color: black;
    -webkit-app-region: drag;
    top: 280px;
    left: 0px;
}
#updatestatus {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 280px;
    left: 40px;
}
#increasesize {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 280px;
    left: 80px;
}
#decreasesize {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 280px;
    left: 120px;
}
#exit {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 280px;
    left: 160px;
}
#info {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    position: absolute;
    color: black;
    top: 330px;
    left: 120px;
}

#champ1Text {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100px;
    height: 40px;
    border: solid #181818 3px;
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: 0;
    box-shadow: #404040 0px 5px 15px;
}
#champ1Img {
    position: absolute;
    top: 3px;
    left: 120px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
    background-color: black;
}
#champ1Img:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
#champ1ImgTime {
    position: absolute;
    top: 1px;
    left: 129px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ1Img2 {
    position: absolute;
    top: 3px;
    left: 170px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ1Img2Time {
    position: absolute;
    top: 1px;
    left: 179px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ1Img2:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
/*Champ 2*/
#champ2Text {
    position: absolute;
    top: 63px;
    left: 0;
    width: 100px;
    height: 40px;
    border: solid #181818 3px;
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: 0;
    box-shadow: #404040 0px 5px 15px;
}
#champ2Img {
    position: absolute;
    top: 63px;
    left: 120px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ2ImgTime {
    position: absolute;
    top: 61px;
    left: 129px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ2Img:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
#champ2Img2 {
    position: absolute;
    top: 63px;
    left: 170px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ2Img2Time {
    position: absolute;
    top: 61px;
    left: 179px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ2Img2:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
/*Champ 3*/
#champ3Text {
    position: absolute;
    top: 123px;
    left: 0;
    width: 100px;
    height: 40px;
    border: solid #181818 3px;
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: 0;
    box-shadow: #404040 0px 5px 15px;
}
#champ3Img {
    position: absolute;
    top: 123px;
    left: 120px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ3ImgTime {
    position: absolute;
    top: 121px;
    left: 129px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ3Img:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
#champ3Img2 {
    position: absolute;
    top: 123px;
    left: 170px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ3Img2Time {
    position: absolute;
    top: 121px;
    left: 179px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ3Img2:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
/*Champ 4*/
#champ4Text {
    position: absolute;
    top: 183px;
    left: 0;
    width: 100px;
    height: 40px;
    border: solid #181818 3px;
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: 0;
    box-shadow: #404040 0px 5px 15px;
}
#champ4Img {
    position: absolute;
    top: 183px;
    left: 120px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ4ImgTime {
    position: absolute;
    top: 181px;
    left: 129px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ4Img:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
#champ4Img2 {
    position: absolute;
    top: 183px;
    left: 170px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ4Img2Time {
    position: absolute;
    top: 181px;
    left: 179px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ4Img2:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
/*Champ 5*/
#champ5Text {
    position: absolute;
    top: 243px;
    left: 0;
    width: 100px;
    height: 40px;
    border: solid #181818 3px;
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: 0;
    box-shadow: #404040 0px 5px 15px;
}
#champ5Img {
    position: absolute;
    top: 243px;
    left: 120px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ5ImgTime {
    position: absolute;
    top: 241px;
    left: 129px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ5Img:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
#champ5Img2 {
    position: absolute;
    top: 243px;
    left: 170px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 1s;
}
#champ5Img2Time {
    position: absolute;
    top: 241px;
    left: 179px;
    color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    opacity: 0;
    pointer-events: none;
}
#champ5Img2:hover {
    box-shadow: #9c9a9a 0px 5px 15px;
}
#spell-selector {
    visibility: hidden;
    position: absolute;
    z-index: 20;
    border: solid #B3B3B3 5px;
    border-radius: 5px;
    background-color: #121212;
    flex: left;
}