@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
ELECTRON FUCKING SUCKS
*/

/* oh hey, don't worry about my rant above! 😊 */


:root {
    --scale-factor: 1;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    overflow: hidden;
}

.content {
    transform: scale(var(--scale-factor), var(--scale-factor))
}

.champion-div input {
    float: left;
    width: 130px;
    height: 40px;
    border: solid #181818 3px;
    border-radius: 5px;
    background-color: #404040;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    outline: 0;
    box-shadow: #404040 0px 0px 15px;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.champion-div img {
    margin-left: 3px;
    margin-top: 5px;
    border: solid #181818 3px;
    box-shadow: #404040 0px 5px 15px;
    transition: 500ms;
    background-color: black;
}

.champion-div img:hover {
    box-shadow: #9c9a9a 0px 0px 15px;
}

.champion-div span {
    position: absolute;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: 250ms;
    text-align: center;
}

.toolbox {
    display: inline;
}

.toolbox * {
    background-color: #FFFFFF;
    border: solid #FFFFFF 3px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

#dragtool {
    -webkit-app-region: drag;
}



/* BORDER FLASH */
#flash {
    position: absolute;
    top: 0;
    left: 0;
    border: solid #FFFFFF 5px;
    border-radius: 10px;
    width: 96vw;
    height: 96vh;
    opacity: 0;
    pointer-events: none;
    transition: 500ms;
}

/* MISC */
.no-highlight {
    user-select: none;
}

.user-popup-message {
    position: absolute;
    text-align: center;
    color: white;
    top: -18%;
    left: 50%;
    transform: translateX(-50%);
    border: solid #555 3px;
    border-radius: 5px;
    width: 200px;
    height: fit-content;
    font-size: 20px;
    background-color: #555;
    transition: top 500ms;
    box-shadow: #474747 0px 0px 15px;
}

.spell-selector {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 130px;
    height: 130px;
    background-color: #181818;
    border: solid #181818 5px;
    border-radius: 10px;
    box-shadow: #FFFFFF 0px 0px 20px;
    visibility: visible;
    opacity: 0;
    transition: 250ms
}

.spell-selector-div {
    visibility: hidden;
}

.x {
    filter: invert(100%);
}

.triangle-indicator {
    position: absolute;
    top: -20px;
    left: 45px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
    transition: 250ms;
    transform: scale(-1, -1)
}

#toolboxTip {
    position: absolute;
    top: 315px;
    left: 0px;
}


@keyframes spin {
    0% {transform: rotateZ(360deg)}
    99% {transform: rotateZ(0deg)}
    100% {transform: rotateZ(0deg)}
}
@keyframes spinWeird {
    0% {transform: rotateX(0deg) scale(1, 1)}
    75% {transform: rotateX(360deg) scale(1.2, 1.2)}
    100% {transform: rotateX(360deg) scale(1, 1)}
}
#updatetool {
    animation: spin 1s infinite ease-in-out;
}